/gen
/.kpt-pipeline
/skaffold.yaml
/charts
**/*Dockerfile
**/*.dockerignore
/.git
/.vscode
/.idea
**/README.md
/LICENSE
/skaffold.env
/skaffold.env.dist
/
/skaffold-overrides.yaml
**/*_test.go
**/node_modules

/frontend/expense_splitter/build
/frontend/expense_splitter/.svelte-kit
/frontend/expense_splitter/package
/frontend/expense_splitter/**/.env
/frontend/expense_splitter/**/.env.*
!/frontend/expense_splitter/**/.env.example
/frontend/expense_splitter/**/.vercel
/frontend/expense_splitter/**/.output
/frontend/expense_splitter/**/vite.config.js.timestamp-*
/frontend/expense_splitter/**/vite.config.ts.timestamp-*
