HA_EXPENSE_SPLITTER_CLUSTER_DOMAIN=cluster.local
# leave empty if you only use public images
HA_EXPENSE_SPLITTER_IMAGE_PULL_SECRET=ghcr
# leave empty if you only use public images
HA_EXPENSE_SPLITTER_IMAGE_PULL_SECRET_SERVER=ghcr.io
# leave empty if you only use public images
HA_EXPENSE_SPLITTER_IMAGE_PULL_SECRET_USERNAME=my-user
# leave empty if you only use public images
HA_EXPENSE_SPLITTER_IMAGE_PULL_SECRET_PASSWORD=my-secure-password
HA_EXPENSE_SPLITTER_SKIP_METRICS_SERVER_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_CERT_MANAGER_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_PROMETHEUS_STACK_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_LINKERD_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_LINKERD_VIZ_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_NGINX_INGRESS_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_COCKROACH_OPERATOR_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_COCKROACH_ES_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_COCKROACH_ORY_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_SCHEMAHERO_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_NATS_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_OATHKEEPER_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_KRATOS_INSTALLATION=true
HA_EXPENSE_SPLITTER_SKIP_EXPENSE_SPLITTER_INSTALLATION=false
HA_EXPENSE_SPLITTER_SERVICES_HOST=services.expense-splitter.localhost
HA_EXPENSE_SPLITTER_SERVICES_PORT=443
HA_EXPENSE_SPLITTER_FRONTEND_HOST=frontend.expense-splitter.localhost
HA_EXPENSE_SPLITTER_FRONTEND_PORT=443
HA_EXPENSE_SPLITTER_STORAGE_CLASS_NAME=longhorn
# the optional nats host if using an external nats instance; falls back to default NATS if empty
HA_EXPENSE_SPLITTER_NATS_HOST=my-nats-host
# the optional nats port if using an external nats instance; falls back to default NATS if empty
HA_EXPENSE_SPLITTER_NATS_PORT=4222
HA_EXPENSE_SPLITTER_PROMETHEUS_STACK_NAMESPACE=prometheus-stack
HA_EXPENSE_SPLITTER_LINKERD_JAEGER_NAMESPACE=linkerd-jaeger
HA_EXPENSE_SPLITTER_ORY_NAMESPACE=ory
HA_EXPENSE_SPLITTER_SMTP_NAMESPACE=smtp
HA_EXPENSE_SPLITTER_NATS_NAMESPACE=nats
HA_EXPENSE_SPLITTER_NATS_NAME=nats
HA_EXPENSE_SPLITTER_NAMESPACE=expense-splitter
HA_EXPENSE_SPLITTER_PROMETHEUS_STACK_NAME=prometheus-stack
HA_EXPENSE_SPLITTER_ES_DB_HOST=expense-splitter-db-public
HA_EXPENSE_SPLITTER_ES_DB_PORT=26257
HA_EXPENSE_SPLITTER_ES_DB_NAME=expense_splitter
HA_EXPENSE_SPLITTER_ES_DB_USER_SECRET_NAME=expense-splitter-db-creds
HA_EXPENSE_SPLITTER_ES_DB_USER_SECRET_KEY=username
HA_EXPENSE_SPLITTER_ES_DB_USER=expense_splitter_root
# the optional password specs
HA_EXPENSE_SPLITTER_ES_DB_PASSWORD_SECRET_NAME=expense-splitter-db-creds
HA_EXPENSE_SPLITTER_ES_DB_PASSWORD_SECRET_KEY=password
HA_EXPENSE_SPLITTER_ES_DB_PASSWORD=secure-expense-splitter-password
HA_EXPENSE_SPLITTER_KRATOS_NAME=kratos
HA_EXPENSE_SPLITTER_OATHKEEPER_NAME=oathkeeper
HA_EXPENSE_SPLITTER_OATHKEEPER_PROXY_PORT=4455
HA_EXPENSE_SPLITTER_ORY_DB_HOST=ory-db-public
HA_EXPENSE_SPLITTER_ORY_DB_PORT=26257
HA_EXPENSE_SPLITTER_ORY_DB_NAME=ory
HA_EXPENSE_SPLITTER_ORY_DB_USER_SECRET_NAME=ory-db-creds
HA_EXPENSE_SPLITTER_ORY_DB_USER_SECRET_KEY=username
HA_EXPENSE_SPLITTER_ORY_DB_USER=ory_root
# the optional password specs
HA_EXPENSE_SPLITTER_ORY_DB_PASSWORD_SECRET_NAME=ory-db-creds
HA_EXPENSE_SPLITTER_ORY_DB_PASSWORD_SECRET_KEY=password
HA_EXPENSE_SPLITTER_ORY_DB_PASSWORD=secure-ory-password
HA_EXPENSE_SPLITTER_CLUSTER_ISSUER=letsencrypt-prod
HA_EXPENSE_SPLITTER_SMTP_HOST=my-smtp-server
HA_EXPENSE_SPLITTER_SMTP_USER_SECRET_NAME=smtp-creds
HA_EXPENSE_SPLITTER_SMTP_USER_SECRET_KEY=username
HA_EXPENSE_SPLITTER_SMTP_USER=smtp-user
# the optional password specs
HA_EXPENSE_SPLITTER_SMTP_PASSWORD_SECRET_NAME=smtp-creds
HA_EXPENSE_SPLITTER_SMTP_PASSWORD_SECRET_KEY=password
HA_EXPENSE_SPLITTER_SMTP_PASSWORD=secure-secure-smtp-password